<h1> Welcome to the Admin Dashboard, Boss </h1>

<%= link_to "Merchants Index", "/admin/merchants" %>
<%= link_to "Invoices Index", "/admin/invoices" %>

<h5><%= "Top 5 Customers, # of Transactions" %></h5>
  <% Merchant.top_five_customers.each do |customer| %>
    <%= "#{customer.first_name} #{customer.last_name}: #{customer.successful_transactions}" %> <br>
  <% end %>

<h5>Incomplete Invoices: </h5>
<section id="invoices_incomplete">
  <ul>
    <% @invoices.not_complete.each do |invoice| %>

      <li>
        <%= invoice.id %>
        <%= link_to "Admin Invoice Show Page: #{invoice.id}", "/admin/invoices/#{invoice.id}"%>
        <%= invoice.created_at.strftime("%A, %B %d, %Y") %>
      </li>
    <% end %>
  </ul>
</section>