<h2>Admin Merchants Index</h2>

<h3>Enabled Merchants</h3>
<% @merchants.enabled.each do |merchant| %>
  <p><%= merchant.name %></p>
  <%= button_to 'Disable', admin_merchant_disable_path(merchant), method: :patch %>
  <p><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></p>
<% end %>

<h3>Disabled Merchants</h3>
<% @merchants.disabled.each do |merchant| %>
  <p><%= merchant.name %></p>
  <%= button_to 'Enable', admin_merchant_enable_path(merchant), method: :patch %>
  <p><%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %></p>
<% end %>

<div id=TopFiveMerchants>
<h3>Top 5 Merchants by Revenue</h3>
  <% @merchants.top_five_merchants.each do |merchant| %>
    <div id=<%= "Merchant#{merchant.id}" %>> 
    <%= link_to "#{merchant.name}", "/admin/merchants/#{merchant.id}" %> <%= "Revenue Generated: #{merchant.revenue}" %> <br>
    <%= "Top selling date for was #{merchant.best_day}" %> <br>
    </div>
  <% end %>
</div>

