<h1><b>Invoice ID: </b><%= @invoice.id %></h1>
<p><b>Status: </b><%= @invoice.status %></p>
<p><b>Created At:</b> <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p><b>Customer Name:</b> <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
<p><b>Total Revenue: </b><%= @total_revenue %></p>

<section id="invoice-items">
  <ul>
    <h2> <b>Items</b> </h2>

    <% @invoice_items.each do |invoiceitem| %>
      <div id="invoiceitem<%= invoiceitem.id %>">  
        <p><b>Name:</b> <%= invoiceitem.item.name %></p>
        <p><b>Quantity Ordered:</b> <%= invoiceitem.quantity%>
        <p><b>Price:</b> <%= invoiceitem.item.unit_price %></p>

        <%= form_for invoiceitem, url: "/merchants/#{@merchant.id}/invoices/#{invoiceitem.invoice_id}", method: :patch do |f| %>
          <b><%= f.label :status, "Status:" %></b>
          <%= f.select :status, options_for_select(['packaged', 'pending', 'shipped'], selected: invoiceitem.status) %>
          <%= f.submit 'Update Item Status' %>
        <% end %>
      </div>
    <% end %>
  </ul>
</section>