<h1>Ahoy Matey!</h1>


<h2>Name: <%= @merchant.name %></h2>

<h2>Merchant </h2>

<h3><%= link_to "Merchant Items Index", "/merchants/#{@merchant.id}/items" %></h3>
<h3><%= link_to "Merchant Invoices Index", "/merchants/#{@merchant.id}/invoices" %></h3>

<h5><%= "Top 5 Customers, # of Transactions" %></h5>
  <% @merchant.top_five_customers.each do |customer| %>
    <%= "#{customer.first_name} #{customer.last_name}: #{customer.successful_transactions}" %>
  <% end %>