<h1>My Items</h1>

<ul>
  <% @items.each do |item| %>
    <li>
      <%= link_to item.name, "/merchants/#{@merchant.id}/items/#{item.id}" %>
      <p>Status: <%= item.active? ? 'active' : 'inactive' %></p>
      <% if item.active? %>
        <%= button_to 'Disable', "/merchants/#{@merchant.id}/items/#{item.id}/disable", method: :patch %>
      <% else %>
        <%= button_to 'Enable', "/merchants/#{@merchant.id}/items/#{item.id}/enable", method: :patch %>
      <% end %>
    </li>
  <% end %>
</ul>


<div id="TopFiveItems">
<h3>5 Most Popular Items by Revenue</h3>
<% @merchant.top_five_items.each do |item| %>
  <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %><%= ": #{item.revenue}" %> <br>
<% end %>
</div>