<h1><%= @item.name %></h1>
<p>Description: <%= @item.description %></p>
<p>Current Selling Price: <%= @item.unit_price_to_dollars %></p>

<%= link_to "Update Item", edit_merchant_item_path(@merchant, @item) %>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>
